doctype html
html
    head
        link(href="/css/bootstrap.css", rel="styleheet")
        link(href="/vendor/toastr/toastr.css", rel="styleheet")
        link(href="/css/site.styl", rel="styleheet")
        //link(href="favicon.ico", rel="shotcut icon", type="image/x-icon")
    body(ng-app='app')
        block main-content
        include scripts