.container
    .jumbotron
        h1 mv-test
        p Welcome to the my first Node.js Angular web-app!

    .row
        .col-md-6
            div(ng-include="'/partials/main/features-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")